body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* External styling */

.icons{
  position: absolute;
  margin: 18.7px 0px 0px 16px;
}

.icon-1{
  top: 16px;
}

.icon-2{
  top: -6px;
}

.icon-3{
  top: -5px;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}


.logo{
  width: 150px;
  margin-top: 6rem !important;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.container-top {
  height: 40vh !important;
  padding-left: 0px;
  padding-right: 0px;
  background: #ffffff !important;

}

.container-bottom{
  background: #fafafa;
  padding: 20px;
  position: relative;
}

.wave{
  transform: rotate(180deg);
}

.anchor{
  margin-left: 10px !important;
}

.form-check-label{
  font-size: 12px;
  font-weight: 600;
  color: #b1b1b1;
}

.remember-password{
  float: none !important;
  color: #afafaf !important;
  margin-top: 2px !important;
}
.forgotpassword{
  margin-top: -2px;
}

.round{
  float: left;
  padding-right: 10px;
}

.nav{
  box-shadow: 0 -3px 5px -6px #333;
  justify-content: space-between;
  padding: 22px 0px 15px 0px;
  position: relative;
}

.nav:before{
  content: '';
  position: absolute;
  width: 100px;
  background: #fff;
  height: 90px;
  border-radius: 100%;
  box-shadow: inset 0 -4px 6px -7px #333;
  top: -44px;
  left: calc(50% - 60px);
}

.nav-row{
  display: contents !important;
}

.nav-col{
  display: contents !important;
}

.nav-col:nth-child(2){
  flex-direction: row-reverse !important;
}

.nav-link{
  font-size: 13px;
  color: #4e4e4e;
  font-weight: 500;
}

.nav-link:hover{
  color:#4e4e4e;
}

.glyph{
  margin-left: 33px;
  color: #949494;
  font-size: 22px;
}

.task-icon{
  margin-left: 22px;
}

.home-glyph{
  color: #ffff;
  margin: 16px 0px 0px 15px;
}

.location-glyph{
  margin-left: 30px;
}

.error-messages{
  font-size: 9px !important;
  color: #FFC759 !important;
  float: left !important;
}

.extra-link{
  color: #FFC759 !important;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
}

.extra-link:hover{
  text-decoration: none;
  color: #FFC759;
}
/* End External styling */

.waveContainer{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media only screen and (max-width: 411px) {
    .nav-link{
      font-size: 11px;
    }
}

@media only screen and (max-width: 375px) {
  .kRttWT {
    height: 55px !important;
    width: 55px !important;
    margin-top: -40px !important;
    border-radius: 50%;
    left: calc(50% - 38px) !important;
}

.nav:before {
  content: '';
  position: absolute;
  width: 70px;
  background: #fff;
  height: 70px;
  border-radius: 100%;
  box-shadow: inset 0 -4px 6px -7px #333;
  top: -44px;
  left: calc(50% - 45px);
}

.home-glyph {
  color: #ffff;
  margin: 13px 0px 0px 12px;
}

.fa-2x{
  font-size: 1.5em !important;
}
}


@media only screen and (max-width: 768px) {
  .nav-link{
    font-size: 12px;
  }

  .glyph{
    font-size: 18px;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
  margin: 20px 0px 0 0;
  vertical-align: middle;
  background: #F0F0F0 left top no-repeat;
  background-image: url("./assets/images/check.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  background: #4368D1 -19px top no-repeat;
  background-image: url("./assets/images/check.png");
  background-size: 50%;
  background-position: center;
}

.noPadding {
  padding: 0;
}

